{% extends 'things/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Donated things</title>

  <body>
    {% block body %}
    {% for item in item_list %}
    <div class="row">
      <div class="col-md-3 offset-md-2">
        <img src="{{ item.item_image }}" class="card" height="150px" alt="">
      </div>
      <div class="col-md-4">
        <h3>{{ item.item_name }}</h3>
        <h5>{{ item.item_desc }}</h5>
        <h6>{{ item.item_quantity }}</h6>
      </div>
      <div class="col-md-2">
        <a href="{% url 'things:detail' item.id %}" class="btn btn-success">Details</a>
      </div>
    </div>
    {% endfor %}
    {% endblock %}
  </body>
</html>
